# Ignore virtual environment folders
venv/
env/
.venv/

# Ignore pipenv files
Pipfile
Pipfile.lock

# Ignore compiled Python files
__pycache__/

# Ignore editor and IDE-specific files
.idea/

# Ignore operating system-specific files
.DS_Store
Thumbs.db
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
